body{
background-image:url(../images/background_light.jpg);

}

#wrapper{
width:100%;
}

#content{
width:960px;
/*background-color: red;*/
margin:0 auto;
}

#header{
margin:0 auto;
}

#top{
  width:960px;
  /*background-color: green;*/
}

#top > article{
  width:490px;
  padding-right:5px;
  float:left;
  padding-left:20px;
}

#top > img{
  width:400px;
  height:300px;
  padding-left:5px;
  padding-right:40px;
  padding-top:20px;
  padding-bottom:20px;
  float:left;
  /*background-color: yellow;*/
}

.clear{
  clear:both;
}