body{
background-image:url(../../images/background_light.jpg);
background-size: 100%;
background-repeat: repeat-x;
background-color: #c4c0be;
}

#wrapper{
width:100%;
}

#content{
width:960px;
background-color: #a9a9a9;
margin:0 auto;
}

header{
margin-left:60px;
}

#top{
  width:960px;
  background-image:url(../images/background-inner.jpg);
  background-repeat:repeat-x;
  background-color:#ffffff;
}

#top > article{
  width:490px;
  padding-right:5px;
  float:left;
  padding-left:20px;
}

#top > img{
  width:400px;
  height:300px;
  padding:20px 10px 20px 5px;
  float:left;
  /*background-color: yellow;*/
}

.clear{
  clear:both;
}

#left{
  /*background-color: #ffffff;*/
  background-image:url(../images/background-inner.jpg);
  background-repeat:repeat-x;
  background-color:#ffffff;
  width: 695px;
  float: left;
  padding:0 5px 0 20px;
}

.entry{
border-bottom:1px solid #C0C0C0;	
}

#right{
  background-color: #a9a9a9;
  width: 225px;
  float: left;
  padding-left:5px;
 
}
h1{
font-size:30px;	
}

h2{
font-size:24px;	
}

h3{
font-size:18px;	
}

h4{
font-size:12px;	
}

p{
font-size:14px;	
}

#right ul{
	
}
#right li{
	list-style-type:none;
}
#right li a{
	color:#000000;
	text-decoration:none;
	font-size:14px;
}
#right li a:hover{
	text-decoration:underline;
}
footer {
  background-color: #000000;
  width: 960px;
  margin: 0 auto;
  height:100px;
  color:#ffffff;
}

footer > small{
  float: right;
  padding:10px 10px 0 0;
  /*margin: 10px 5px 10px;*/
}
